.inventory {
    padding: 5rem 1rem;
    margin: 0 20rem;
    width: 65%;
}

.title {
    color: black;
    font-size: 2.5rem;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 2rem;
}

.inventory-header {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 2rem;
    align-items: center;
}

.row-filters label {
    margin-right: 0.5rem;
    font-weight: lighter;
}

.row-filters select,
.row-filters input[type="range"] {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-weight: lighter;
}

.price-range {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-range span {
    margin-top: 0.5rem;
    font-weight: lighter;
}

.horizontal-slider {
    width: 200px;
    height: 8px;
    margin-top: 0.5rem;
}

.thumb {
    position: absolute;
    translate: 0 -2px;
    height: 15px;
    width: 15px;
    background-color: navy;
    cursor: pointer;
    border-radius: 50%;
    cursor: pointer;
}


.track {
    background: #ccc;
    height: 100%;
    border-radius: 4px;
}

.row-filters button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: navy;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: lighter;
}

.row-filters button:hover {
    background-color: black;
}

.additional-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.additional-filters label {
    margin-right: 0.5rem;
    font-weight: lighter;
}

.additional-filters select,
.additional-filters input[type="text"] {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-weight: lighter;
}

.inventory-show-case {
    background-color: rgb(248, 246, 246);
    padding: 2rem;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.car-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8rem;
}

.car-card img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    flex: 1 0 33%;
}

.car-card h3 {
    font-size: 1.5rem;
    padding: 2rem;
    color: navy;
    justify-content: left;
}

.car-card p {
    padding: 2rem;

    color: black;
}